p {
  font-family: 'Nunito Sans';
  font-weight: 400;
  color: #000;
}

.edit-process-container {
  width: 100%;
  height: inherit;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.remove-button-container {
  position: relative;
  margin-left: 16px;
}

.remove-button {
  color: #fff;
  background-color: #F56868;
}

.modal.is-active {
  padding: 0 16px !important;
}

.modal-remove-title {
  margin-bottom: 8px;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-align: left;
}

.modal-remove-content {
  width: inherit;
}

.modal-remove-content p {
  font-size: 16px;
}

.modal-remove-buttons {
  justify-content: flex-end
}

.modal-remove-buttons button {
  color: #fff;
  width: 100px;
  font-size: 14px;
}

.modal-remove-buttons button:hover,
.remove-button:hover {
  color: #fff;
}

.modal-remove-buttons button:first-child {
  background-color: #F56868;
}

.modal-remove-buttons button:last-child {
  background-color: #D4D4D4;
}


.modal-remove-no {}

.edit-process-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit-process-title {
  margin-bottom: 8px;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 28.8px;
  color: #000;
  text-align: left;
}

.edit-process-subtitle {
  font-family: Nunito;
  font-weight: 300;
  font-size: 14.4px;
  margin-bottom: 24px;
  text-align: left;
}

.edit-process-form {
  width: 100%;
}

.edit-process-icon {
  color: #000 !important;
  font-size: 20px;
  margin: 2px 0;
}

.input-descricao {
  padding: 8px;
  padding-left: 2.5em;
}

.edit-process-input::placeholder {
  color: #000 !important;
  font-weight: 600;
}

.edit-process-button {
  width: 200px !important;
  margin-bottom: 20px;
  /* height: 40px; */
  border-radius: 8px;
  background-color: #623cea;
  color: white;
  font-size: 22.4px;
}

.edit-process-button:hover {
  color: white;
  background-color: #5432cf;
}

.edit-process-redirect {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.edit-process-redirect a {
  margin-left: 4px;
}

.edit-process-redirect p:first-child {
  margin-right: 3px;
}

.edit-process-redirect p:last-child {
  color: #623cea;
  font-weight: 700;
}

.edit-process-redirect p:first-child,
.edit-process-redirect p:last-child {
  display: inline-block;
}

.edit-process-error {
  font-size: 12px;
  font-weight: 300;
}

.edit-process-error p {
  color: #bb1d2a;
}

@media all and (max-width: 768px) {
  .edit-process-container {
    padding: 32px 16px;
  }

  .edit-process-card {
    padding: 0;
  }

  .edit-process-button {
    width: 100% !important;
  }

  .card-top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
  }

  .remove-button-container {
    margin-left: 0;
  }
}